<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/vendor/twbs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/vendor/twbs/bootstrap/dist/css/bootstrap-theme.css">


        <!-- Include FontAwesome CSS if you want to use feedback icons provided by FontAwesome ??????-->
        <link rel="stylesheet" href="/vendor/bower-asset/components-font-awesome/css/font-awesome.min.css"/>

        <!-- BootstrapValidator CSS -->
        <link rel="stylesheet" href="/vendor/bower-asset/bootstrapvalidator/dist/css/bootstrapValidator.min.css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">


    {% endblock %}
    <style>
        .upload_img_wrapper div {
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }

        .upload_img_wrapper {
            width: 320px;
            height: 240px;
            background-color: #fefefe;
            border: dashed 1px #ccc;
        }
    </style>

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Задачник</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/tasks/create">Создать новую задачу</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if session.userData is defined and  session.userData.success %}
                <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> {{ session.userData.user }}</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-щге"></span> Выйты</a></li>
            {% else %}
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>  Войти как админ</a></li>
            {% endif %}

        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="/vendor/components/jquery/jquery.js"></script>
<script src="/vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
<!-- BootstrapValidator JS -->
<script type="text/javascript"
        src="/vendor/bower-asset/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
{% if session.userData is defined and  session.userData.success %}
    <script>var a = true;</script>
{% else %}

    <script>var a = false;</script>
{% endif %}
<script src="/public/assets/js/script.js"></script>
</body>
</html>
