{% extends 'base.html.twig' %}
{% block title %}Задачи{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

<div class="col-sm-12">

    <form name="new_task" action="store" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text" class="form-control" name="username" placeholder="Иван Петрович">
        </div>

        <div class="form-group">
            <label for="email">Ваш Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="image">Изображение:<br>
                <div class="upload_img_wrapper"><div id="preview_img"></div></div>
            </label>
            <input type="file" name="image" preview-target-id="preview_img">
            <p class="help-block">Допустимый формат jpg/gif/png, допустимый размер - не более 320х240 пикселей, размер файла не больше 8192КБ </p>
        </div>



        <div class="form-group">
            <label for="body">Задача</label>
            <textarea class="form-control" name="body" rows="5" placeholder="Текст задачи"></textarea>
        </div>

        <div class="col-xs-12  col-sm-6 col-md-offset-2 col-md-4">
            <p><!-- вызов модального окна для предпросмотра -->
                <input type="button" class="btn btn-default btn-block" name="button_Preview" id="button_Preview" value="Предварительный просмотр" data-toggle="modal" data-target="#Preview">
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <p><input type="submit" class="btn btn-default btn-block" name="button_Save" value="Сохранить задачу"></p>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="Preview" tabindex="-1" role="dialog" aria-labelledby="mLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="mLabel">Предварительный просмотр</h4>
                </div>
                <div class="modal-body">
                    <div id="toPreview">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
