{% extends 'templates/base.html.twig' %}
{% block title %}Задачи{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="col-sm-12">
        <form action="/tasks/update" method="POST">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Имя: <b>{{ username }}</b><br>
                        email: <b>{{ email }}</b><br>
                    </h3>

                </div>

                <div class="panel-body">
                    <div class="col-md-5">
                        <p><b>Статус задачи:</b><br> <select class="form-control" name="status" id="status">
                                <option value="pending" {{ status=='pending'?'selected':'' }}>Выполняется
                                </option>
                                <option value="confirmed" {{ status=='confirmed'?'selected':'' }}>Выполнено
                                </option>

                            </select></p>
                    </div>

                    <div class="col-md-12"></div>

                    <div class="col-md-5"><img class="img-responsive img-thumbnail"
                                               src="/{{ image }}"><br>
                    </div>

                    <div class="col-md-7">
                        <div class="form-group">
                            <textarea class="form-control" name="body" rows="12"
                                      placeholder="Текст задачи">{{ body }}</textarea>
                        </div>
                    </div>

                    <div class="col-sm-4 pull-right">
                        <div class="form-group pull-right">
                            <input type="hidden" name="id" value="{{ id }}">
                            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
{% endblock %}