{% extends 'base.html.twig' %}
{% block title %}Задачи{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="col-sm-12 col-md-7">
{{ errors.message }}
    <form action="login" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Логин</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="login" name="name" placeholder="login">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Пароль</label>

            <div class="col-sm-8">
                <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input type="submit" value="Войти" class="btn btn-default">
            </div>
        </div>
    </form>

    <p></p>


</div>
{% endblock %}