{#<tr>#}
    {#<!--th scope="row">60</th-->#}
    {#&#123;&#35;<td><a href="/task/overview/1"><img class="img_sm img-rounded"&#35;&#125;#}
                                        {#&#123;&#35;src="{{ comment.image }}"></a></td>&#35;&#125;#}
    {#<td>{{ comment.username }}</td>#}
    {#<td>{{ comment.email }}</td>#}
    {#<td class="task_body_row">{{ comment.body }}</td>#}
    {#<td class="task_status_row">{{ comment.status=='confirmed'?'Выполнено':'Выполняется' }}</td>#}

    {#<td>#}
        {#<a class="btn btn-default btn-sm" href="/tasks/view/{{ comment.id }}" role="button">Просмотр</a>#}
        {#{% if session.userData is defined and  session.userData.success %}#}
            {#<a class="btn btn-warning btn-sm" href="/tasks/edit/{{ comment.id }}" role="button">Изменить</a>            #}
        {#{% endif %}#}
    {#</td>#}
{#</tr>#}

