{% extends 'base.html.twig' %}
{% block title %}Задачи{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}



    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-hover" id="employee-grid">
                <thead>
                <tr>
                    <th>Image</th>
                    <th class="field_to_order" id="username">Имя<span class=" "></span>
                    </th>
                    <th class="field_to_order" id="email">е-mail<span class=""></span>
                    </th>
                    <th>Задача</th>
                    <th class="field_to_order" id="status">Статус<span class=""></span>
                    </th>
                    <th>Actions</th>


                </tr>
                </thead>
                <tbody id="selection">

                {% for comment in comments %}
                    {{ include('todo.html.twig') }}
                {% endfor %}



                </tbody>
            </table>
        </div>
    </div>
    <script>
        /*     $(document).ready(function() {
         $('.js-preview').click(function() {
         var now = new Date();
         $('#preview .panel-heading').html(function() {
         var email = $('[name=exampleInputEmail]').val();
         var date = now.toString();
         return email + ' ' + date;
         });
         $('#preview .panel-body').html($('[name=text]').val());
         $('#preview').show();
         return false;
         });

         $('#feedback').bootstrapValidator({
         // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
         feedbackIcons: {
         valid: 'glyphicon glyphicon-ok',
         invalid: 'glyphicon glyphicon-remove',
         validating: 'glyphicon glyphicon-refresh'
         },
         fields: {
         exampleInputEmail: {
         validators: {
         notEmpty: {
         message: 'Емаил адрес требуется и не может быть пустым'
         },
         emailAddress: {
         message: 'Это некорректный емаил адрес'
         }
         }
         },
         text: {
         validators: {
         stringLength: {
         min: 10,
         max: 3000,
         message: 'Введите описание задачи от 10 до 3000 символов'
         },
         notEmpty: {
         message: 'Введите описание задачи'
         }
         }
         }

         }
         });

         });*/
    </script>

{% endblock %}
