{% extends 'base.html.twig' %}
{% block title %}Задачи{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">

                <h3 class="panel-title">Имя: <b>{{ username }}</b><br>
                    email: <b>{{ email }}</b><br>
                    Статус: <b>{{ status=='confirmed'?'Выполнено':'Выполняется' }}</b>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-5"><img class="img-responsive img-thumbnail"
                                           src="/{{ image }}"><br></div>
                <div class="col-md-7">{{ body }}</div>
            </div>
        </div>
    </div>
{% endblock %}